<nav class="navbar navbar-default hidden-xs" role="navigation">
  <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://angularjs.de">Startseite</a></li>
        <li><a href="http://angularjs.de/impressum">Impressum</a></li>
        <li><a href="https://www.facebook.com/groups/549213558456485/" class="facebook" target="_blank"><i class="icon-facebook "></i></a></li>
        <li><a href="https://twitter.com/angularjs_de" class="twitter" target="_blank"><i class="icon-twitter "></i></a></li>
      </ul>
  </div>
</nav>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://angularjs.de">Angular<em>JS</em>.DE</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="http://buch.angularjs.de">Buch</a></li>
        <li><a href="http://angularjs.de/artikel">Artikel</a></li>
        <li><a href="http://angularjs.de/entwickler">Entwickler</a></li>
        <li><a href="http://angularjs.de/veranstaltungen">Veranstaltungen</a></li>
          <li><a href="http://angularjs.de/auth/github">Einloggen</a></li>
      </ul>
    </div>
  </div>
</nav>



<!--
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">


  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Angular<em>JS</em> Buch".html_safe, '/', class: 'navbar-brand' %>
  </div>

  <div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://angularjs.de/impressum" target="_blank">Impressum</a></li>
      <li><a href="https://github.com/sbrink/buch.angularjs.de" target="_blank">Source Code</a></li>
      <li><a href="http://angularjs.de">Angularjs.DE →</a></li>
    </ul>
    </div>

  </div>
</div>

-->