
<p>
  <strong>Du möchtest mehr über AngularJS lernen?</strong> - Dann melde dich zum Newsletter an!<br>
  Wir informieren dich über neue Screencasts, Artikel und Status-Updates zum Buch. Natürlich kein Spam!
</p>

<form action="http://angularjs.us5.list-manage.com/subscribe/post?u=465db430c1cb88ec6dea2ca40&amp;id=7e804310eb" method="post" class="input-group" target="_blank">
  <span class="input-group">
    <input type="email" value="" name="EMAIL" class="form-control" placeholder="E-Mail" required>
    <span class="input-group-btn">
      <input type="submit" value="Anmelden" class="btn btn-info" type="button">
    </span>
  </span>
</form>