<li><a href="#einleitung">1. Einleitung</a>    <ul class="nav">
    <li><a href="#erwartete-vorkenntnisse">Erwartete Vorkenntnisse</a></li>
    <li><a href="#aufbau">Aufbau</a></li>
    <li><a href="#lernstrategie">Lernstrategie</a></li>
    <li><a href="#didaktischer-hintergrund">Didaktischer Hintergrund</a></li>
  </ul>
</li>
<li><a href="#grundlagen">2. Grundlagen</a>    <ul class="nav">
    <li><a href="#was-ist-angularjs">Was ist AngularJS</a></li>
    <li><a href="#vorteile">Vorteile von AngularJS</a></li>
    <li><a href="#databinding">Databinding - einfach/bidirektional</a></li>
    <li><a href="#ueberblick">Überblick der wichtigsten Komponenten</a></li>
  </ul>
</li>
<li><a href="#basisapplikation">3. Basisapplikation</a>    <ul class="nav">
    <li><a href="#ein-erstes-programm-ng-app-ng-model-binding">Ein erstes Programm (ng-app, ng-model, Binding)</a></li>
    <li><a href="#ngcontroller">ngController</a></li>
    <li><a href="#ngrepeat">ngRepeat</a></li>
    <li><a href="#ngclick-ngchange-ngmouse">ngClick, ngChange, ngMouse…</a></li>
    <li><a href="#input">Input…</a></li>
    <li><a href="#die-mglichkeiten-von-">Die Möglichkeiten von {{…}}</a></li>
    <li><a href="#weitere-ng-direktiven">Weitere ng-Direktiven</a></li>
    <li><a href="#form-validierung">Form-Validierung</a></li>
    <li><a href="#animations">Animationen / Animations mit ng-animate</a></li>
  </ul>
</li>
<li><a href="#erweiterungen-der-applikation">4. Erweiterungen</a>    <ul class="nav">
    <li><a href="#rest-kommunikation">REST-Kommunikation mit dem Server</a></li>
    <li><a href="#eigene-direktiven">Eigene Direktiven erstellen</a></li>
    <li><a href="#eigene-filter">Eigene Filter erstellen</a></li>
    <li><a href="#suchmaschinenoptimierung">SEO / Suchmaschinenoptimierung</a></li>
    <li><a href="#twitter-bootstrap">Erweiterungen für Twitter Bootstrap</a></li>
    <li><a href="#module">Module: Die Applikation aufteilen</a></li>
  </ul>
</li>
<li><a href="#testen">5. Testen</a>    <ul class="nav">
    <li><a href="#testen-von-controllern">Testen von Controllern</a></li>
    <li><a href="#testen-von-direktiven">Testen von Direktiven</a></li>
  </ul>
</li>
<li><a href="#vertiefung">6. Konzepte</a>    <ul class="nav">
    <li><a href="#dependency-injection">Dependency Injection und der Injektor von AngularJS</a></li>
    <li><a href="#services">Factory, Service und Provider</a></li>
    <li><a href="#decorator">Decorator</a></li>
    <li><a href="#unobtrusive-javascript">Unobtrusive JavaScript</a></li>
    <li><a href="#minification">Verwendung von Minifiern</a></li>
    <li><a href="#jqlite">jqLite - Kompatibilität mit jQuery</a></li>
    <li><a href="#browser-kompatibilitaet">Internet Explorer - Kompatibilität (IE6, IE7, IE8)</a></li>
    <li><a href="#promises">Promises [TODO]</a></li>
    <li><a href="#internationalisierung">Internationalisierung (I18n und L10n) [TODO]</a></li>
    <li><a href="#performance">Performance [TODO]</a></li>
    <li><a href="#runtime">Updatezyklus im Browser [TODO]</a></li>
  </ul>
</li>
<li><a href="#anhang">Anhang</a>    <ul class="nav">
    <li><a href="#framework-trend">Trend-Vergleich mit anderen Frameworks</a></li>
    <li><a href="#entstehungsgeschichte">Entstehungsgeschichte</a></li>
  </ul>
</li>
